<script src="https://maps.googleapis.com/maps/api/js?key=&libraries=places&callback=initPlaces" async defer></script>
<div style=" flex-direction: column; display: flex; width: 40%; float: right;margin-bottom: 1rem;margin-top: 1rem;">
  <div type="text" class="input-group">
    <input type="text" id="search-address" value="" placeholder="Enter your address" />
    <span class="input-group__btn">
      <button type="button" onclick="myFunction()" class="btn">Same day delivery</button>
    </span>
  </div>
  <div id="message" style="font-size: 12px;"></div>
  <p id="zipcode" style="display:none" />
</div>
<script>
  function initPlaces() {
    var input = document.getElementById('search-address');
    var autocomplete = new google.maps.places.Autocomplete(input);
    google.maps.event.addListener(autocomplete, 'place_changed', function () {
      var place = autocomplete.getPlace();
      for (var i = 0; i < place.address_components.length; i++) {
        for (var j = 0; j < place.address_components[i].types.length; j++) {
          if (place.address_components[i].types[j] == "postal_code") {
            document.getElementById('zipcode').innerHTML = place.address_components[i].long_name
          }
        }
      }
    })

  }
  function myFunction() {

    document.getElementById('message').innerHTML = "Loading, please wait.";
    document.getElementById('message').style.color = "black";

    var d = []
    {% for line in cart.items %}
    d.push({{ line.variant_id }})
  {% endfor %}
  var input = document.getElementById('search-address');
  var zip = document.getElementById('zipcode').textContent
  console.log(zip)
  var request = new XMLHttpRequest();
  request.open('POST', '/apps/foxtrot/sameday/delivery-storefront');
  request.setRequestHeader('Content-Type', 'application/json')
  request.onload = function () {
    var data = JSON.parse(this.response);

    if (data.canDelivery) {
      document.getElementById('message').innerHTML = "Same day delivery is available. Please select pick option on shipping page";
      document.getElementById('message').style.color = "green";
    } else {
      document.getElementById('message').innerHTML = "We are sorry same day delivery is not possible.";
      document.getElementById('message').style.color = "red";
    }
    console.log(data);
  };
  var params = { address: input.value, id: d, zipcode: zip };
  console.log(params)
  request.send(JSON.stringify(params));
  }
</script>
